{% extends 'layout/base.html' %}
{% load static %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/accountsstyles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name"><b>First Name</b></label>
                <input type="text" placeholder="Enter First Name" name="first_name" id="first_name" required>
            </div>
            <div class="form-group">
                <label for="last_name"><b>Last Name</b></label>
                <input type="text" placeholder="Enter Last Name" name="last_name" id="last_name" required>
            </div>
            <div class="form-group">
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Username" name="username" id="username" required>
            </div>
            <div class="form-group">
                <label for="password1"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password1" id="password1" required>
            </div>
            <div class="form-group">
                <label for="password2"><b>Confirm Password</b></label>
                <input type="password" placeholder="Enter Confirm Password" name="password2" id="password2" required>
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>
{% endblock body %}
