{% load static %}

{% block css %}
<style>
  .logo{
    width: 5%;
    /* height: 60px; */
    padding-right: .5rem;
  }
  .navbar {
    background-color: bisque;
  }

  .navbar ul li {
    padding: 0 15px;
    font-size: 18px;
    font-weight: bold;
  }

  #navbarNav {
    align-items: center;
    justify-content: center;
  }
</style>
{% endblock css %}

{% block body %}
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img class="logo" src="{% static '/images/tastybitelogo.png' %}" alt="">
      <a class="navbar-brand" href="#">
        <b>TastyBiteHub</b>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'menu' %}">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'order' %}">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-person"></i> {{ user.username }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</body>
{% endblock body %}
